name: LineageOS 18.1 Builder A02 (Slim Version)

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Builder Repo
        uses: actions/checkout@v4

      - name: Brutal Free Disk Space (Cleaning)
        run: |
          echo "Sisa storage awal:"
          df -h
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /usr/local/share/boost /usr/local/share/powershell /usr/local/lib/node_modules /usr/share/swift /usr/lib/jvm
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          echo "Sisa storage setelah dibersihin:"
          df -h

      - name: Install Build Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential zip curl libstdc++6 git wget python3 repo libssl-dev rsync

      - name: Initialize LineageOS Source (Slim Sync)
        run: |
          mkdir -p ~/android
          cd ~/android
          git config --global user.name "rdbckp-bot"
          git config --global user.email "rdbckp@users.noreply.github.com"
          # Init hanya yang penting saja
          repo init -u https://github.com/LineageOS/android.git -b lineage-18.1 --git-lfs --depth=1

      - name: Add Local Manifest
        run: |
          mkdir -p ~/android/.repo/local_manifests
          cat <<EOF > ~/android/.repo/local_manifests/a02.xml
          <?xml version="1.0" encoding="UTF-8"?>
          <manifest>
            <project name="rdbckp/device_samsung_a02" path="device/samsung/a02" remote="github" revision="main" />
            <project name="rdbckp/vendor_samsung_a02" path="vendor/samsung/a02" remote="github" revision="main" />
            <project name="rdbckp/a022f_kernel" path="kernel/samsung/a02" remote="github" revision="master" />
          </manifest>
          EOF

      - name: Sync Sources (Strict Mode)
        run: |
          cd ~/android
          # Sync tanpa history, tanpa tags, tanpa clone bundle (hemat 30GB+)
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags --optimized-fetch --prune
          echo "Storage setelah sync (Cek apa masih cukup):"
          df -h

      - name: Start The Cook (Brunch)
        run: |
          cd ~/android
          export ALLOW_MISSING_DEPENDENCIES=true
          source build/envsetup.sh
          lunch lineage_a02-userdebug
          # Gunakan mka bacon (Target zip flashable)
          mka bacon -j$(nproc --all)

      - name: Upload Result
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: LineageOS_A02_Final
          path: ~/android/out/target/product/a02/lineage-18.1*.zip
