name: LineageOS 18.1 Builder A02 Brute Force

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Builder Repo
        uses: actions/checkout@v4

      - name: Brutal Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /usr/local/share/boost /usr/local/share/powershell /usr/local/lib/node_modules /usr/share/swift /usr/lib/jvm
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h

      - name: Install Build Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential zip curl libstdc++6 git wget python3 repo libssl-dev rsync

      - name: Initialize LineageOS Source
        run: |
          mkdir -p ~/android
          cd ~/android
          git config --global user.name "rdbckp-bot"
          git config --global user.email "rdbckp@users.noreply.github.com"
          # Init tanpa download repo device/vendor/kernel dulu biar gak bentrok
          repo init -u https://github.com/LineageOS/android.git -b lineage-18.1 --depth=1 --groups=all,-notdefault,-device,-vts,-pdk

      - name: Sync Sources (Main Only)
        run: |
          cd ~/android
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags --optimized-fetch --prune
          df -h

      - name: Manual Clone Trees (Gerilya Mode)
        run: |
          cd ~/android
          # Hapus folder kalau udah ada biar gak error saat clone
          rm -rf device/samsung/a02 vendor/samsung/a02 kernel/samsung/a02
          
          # Clone manual langsung ke foldernya
          git clone --depth=1 https://github.com/rdbckp/device_samsung_a02.git -b main device/samsung/a02
          git clone --depth=1 https://github.com/rdbckp/vendor_samsung_a02.git -b main vendor/samsung/a02
          git clone --depth=1 https://github.com/rdbckp/a022f_kernel.git -b master kernel/samsung/a02

      - name: Delete Repo Folder (Space Saver)
        run: |
          # JURUS TERAKHIR: Hapus folder .repo buat dapet ekstra ~50GB
          # Warning: Setelah ini lo gak bisa repo sync lagi, tapi storage jadi lega buat build
          rm -rf ~/android/.repo
          df -h

      - name: Start The Cook (Brunch)
        run: |
          cd ~/android
          export ALLOW_MISSING_DEPENDENCIES=true
          source build/envsetup.sh
          lunch lineage_a02-userdebug
          # Pakai j2 atau j4 biar gak kegedean beban RAM/Disk saat kompilasi
          mka bacon -
